.hold-casting-container {
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.hold-casting-container .casting-info {
    margin-top: 8px;
}

.hold-casting-container .casting-info table {
    width: 100%;
    border-collapse: collapse;
}

.hold-casting-container .casting-info th,
.hold-casting-container .casting-info td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

.hold-casting-container .casting-info th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.hold-casting-container .casting-info .table-block {
    margin-bottom: 0; /* 隙間をなくす */
}

.hold-casting-container .casting-info .msg-txt {
    font-size: 10px;
}

.hold-casting-container .artist-selection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    max-height: 200px; /* 高さの制限を追加 */
    overflow-y: auto; /* スクロールバーを表示 */
}

.hold-casting-container .artist-badge {
    padding: 3px 10px;
    margin: 3px;
    color: white;
    background-color: #4CAF50;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.2s, color 0.2s;
}

.hold-casting-container .artist-badge.selected {
    background-color: #007bff;
    color: white;
}

.hold-casting-container .artist-badge .remove-btn {
    margin-left: 8px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.hold-casting-container .artist-badge.existing-hold {
    background-color: #2b642d;
}

.hold-casting-container .artist-badge.approved {
    background-color: #833737;
}

.hold-casting-container .artist-badge.rejected {
    background-color: #808080;
}




.hold-casting-container .selected-artists {
    margin-top: 20px;
}

.hold-casting-container .selected-artist {
    display: inline-flex;
    align-items: center;
    padding: 3px 8px;
    margin: 3px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
}

.hold-casting-container .selected-artist .remove-btn {
    margin-left: 8px;
    color: white;
    cursor: pointer;
    padding: 0px 6px;
    font-size: 10px;
}

.hold-casting-container .remove-all-artists {
    padding: 3px 8px;
    margin: 3px;
    font-size: 12px;
    background-color: #666;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block; /* 横幅を調整するために追加 */
    max-width: 150px; /* 必要に応じて調整 */
}

.hold-casting-container .btn-filter-parts {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hold-casting-container .btn-filter-parts:hover {
    background-color: #0056b3;
}


.hold-casting-container .artist-badge.select-all {
    background-color: #666; 
    cursor: pointer;
    transition: background-color 0.2s;
}


.hold-casting-container form div {
    margin-bottom: 8px;
}

.hold-casting-container form label {
    font-weight: bold;
}

.hold-casting-container form input[type="text"],
.hold-casting-container form input[type="date"],
.hold-casting-container form select,
.hold-casting-container form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
}

.hold-casting-container form textarea {
    resize: vertical;
    height: 200px;
}

.hold-casting-container form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hold-casting-container form button[type="submit"]:hover {
    background-color: #0056b3;
}


.hold-casting-container .date-entry {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.hold-casting-container .date-entry input[type="date"],
.hold-casting-container .date-entry input[type="text"] {
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    margin: 0 5px 0 0;
    border: 1px solid #ccc;
    font-size: 14px;
    vertical-align: middle;
    width: 180px; /* 日付の入力フィールドの横幅を指定 */
}

.hold-casting-container .date-entry input[type="text"] {
    width: 500px; /* 備考欄の横幅を指定 */
}

.hold-casting-container .date-entry button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hold-casting-container .date-entry button:focus {
    border-color: #666;
    outline: none;
}

.hold-casting-container .add-date-button {
    background-color: #28a745;
    padding: 3px 10px;
    cursor: pointer;
}

.hold-casting-container .add-date-button:hover {
    background-color: #218838;
}

.hold-casting-container .date-entry:first-child .remove-btn {
    visibility: hidden;
    width: 80px;
}


.hold-casting-container .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hold-casting-container .part-popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
}

.hold-casting-container .part-popup h3 {
    margin-top: 0;
}

.hold-casting-container .part-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hold-casting-container .part-item {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.hold-casting-container .part-item.selected {
    background: #007bff;
    color: white;
}

.hold-casting-container .close-popup-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}

.hold-casting-container .close-popup-button:hover {
    background: #0056b3;
}


.hold-casting-container .popup-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}
