.event-edit-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
}

.event-edit-container h1 {
    text-align: center;
}

.event-edit-container .event-edit-container-form {
    display: flex;
    flex-direction: column;
}

.event-edit-container .event-edit-container-form-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    width: 100%;
}

.event-edit-container .event-edit-container-form-group-flex-start {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.event-edit-container .event-edit-container-group-label {
    margin-right: 10px;
    font-size: 14px;
    color: #495057;
    width: 100px;
}

.event-edit-container .event-edit-container-form input[type="date"],
.event-edit-container .event-edit-container-form input[type="time"],
.event-edit-container .event-edit-container-form input[type="text"],
.event-edit-container .event-edit-container-form select {
    flex: 1;
    padding: 6px;
    margin: 0px 3px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
}

.event-edit-container .event-edit-container-form textarea {
    flex: 1;
    padding: 6px;
    margin: 0px 3px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    height: 100px;
}

.event-edit-container .event-edit-container-form input[type="file"] {
    padding: 6px;
    font-size: 12px;
}

.event-edit-container .event-edit-container-submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.event-edit-container .event-edit-container-submit-button:hover {
    background-color: #218838;
}

.event-edit-container .event-edit-container-form-help-text {
    font-size: 11px;
    color: #666;
    margin-left: 114px;
    margin-top: 0px;
}

.event-edit-container .event-edit-container-additional-dates-container {
    display: flex;
    flex-direction: column;
    width: 86%;  
}

.event-edit-container .event-edit-container-additional-date-entry {
    display: flex;
    align-items: center;
    width: 100%;  
    margin-bottom: 10px;
}

.event-edit-container .event-edit-container-additional-date-entry input[type="date"] {
    flex: 1 1 20%;
    margin-right: 10px;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.event-edit-container .event-edit-container-additional-date-entry input[name="additional_date_title"] {
    flex: 1 1 30%;
    margin-right: 10px;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.event-edit-container .event-edit-container-additional-date-entry input[name="description"] {
    flex: 2 1 50%;
    margin-right: 10px;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.event-edit-container .event-edit-container-additional-date-entry button {
    padding: 8px;
    margin-top: 0;
    font-size: 12px;
    height: 25px;
    line-height: 1px;
    flex-shrink: 0;
    white-space: nowrap;
}

.event-edit-container .event-edit-container-add-date-button, 
.event-edit-container .event-edit-container-add-cast-button,
.event-edit-container .event-edit-container-remove-date-button {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-edit-container .event-edit-container-add-date-button {
    background-color: #007bff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 1px;
    margin: 0px auto;
}

.event-edit-container .event-edit-container-add-date-button:hover {
    background-color: #0056b3;
}

.event-edit-container .event-edit-container-remove-date-button {
    background-color: #dc3545;
}

.event-edit-container .event-edit-container-remove-date-button:hover {
    background-color: #c82333;
}

.event-edit-container .event-edit-container-casts-container {
    display: flex;
    flex-direction: column;
    width: 86%;
}

.event-edit-container .event-edit-container-cast-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.event-edit-container .event-edit-container-cast-entry input[name="cast_role"] {
    flex: 1 1 30%;
    margin-right: 10px;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.event-edit-container .event-edit-container-cast-entry input[name="cast_name"] {
    flex: 2 1 70%;
    margin-right: 10px;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.event-edit-container .event-edit-container-cast-entry button {
    padding: 8px;
    margin-top: 0;
    font-size: 12px;
    height: 25px;
    line-height: 1px;
    flex-shrink: 0;
    white-space: nowrap;
}

.event-edit-container .event-edit-container-add-cast-button {
    background-color: #007bff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 1px;
    margin: 0px auto;
}

.event-edit-container .event-edit-container-add-cast-button:hover {
    background-color: #0056b3;
}

.event-edit-container .event-edit-container-remove-cast-button {
    background-color: #dc3545;
}

.event-edit-container .event-edit-container-remove-cast-button:hover {
    background-color: #c82333;
}

.event-edit-container .event-edit-container-option-label {
    width: auto;
    display: flex;
    align-items: center;
}

.event-edit-container .event-edit-container-options-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
}

.event-edit-container .event-edit-container-option-label input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

.event-edit-container .flyer-image-preview {
    max-width: 200px; /* フライヤー画像の最大幅を小さく設定 */
    max-height: 200px; /* フライヤー画像の最大高さを小さく設定 */
    object-fit: cover;
}

.event-edit-container .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px; /* 修正前は padding: 5px 10px でしたが、これを小さくしました */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0px 5px;
    font-size: 12px; /* ボタンのフォントサイズを小さくしました */
}


.event-edit-container .delete-button:hover {
    background-color: #c82333;
}

.event-edit-container .event-edit-container-back-button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.event-edit-container .event-edit-container-back-button:hover {
    text-decoration: underline;
}

.event-edit-container .event-edit-container-delete-link {
    margin-top: 20px;
    color: #dc3545;
    cursor: pointer;
    font-size: 14px;
}

.event-edit-container .event-edit-container-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-edit-container .event-edit-container-delete-popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.event-edit-container .event-edit-container-popup-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.event-edit-container .event-edit-container-delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-edit-container .event-edit-container-delete-button:hover {
    background-color: #c82333;
}

.event-edit-container .event-edit-container-cancel-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-edit-container .event-edit-container-cancel-button:hover {
    background-color: #5a6268;
}
