.admin-message-container {
    display: flex;
    width: 100%;
}

.admin-message-container .admin-message-sidebar {
    width: 20%;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* サイドバー全体のスクロールを無効にする */
}

.admin-message-container .filter-container {
    padding: 3px;
    margin-top: 5px;
    margin-bottom: -10px;
    position: sticky; /* 固定 */
    top: 0; /* 上部に固定 */
    background-color: #f8f8f8; /* 背景色をサイドバーと同じにする */
    z-index: 10; /* 他の要素より前面に表示 */
}

.admin-message-container .filter-input, .admin-message-container .filter-select {
    padding: 5px 10px;
    font-size: 11px;
    margin-bottom: 3px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

.admin-message-container .admin-message-sidebar ul {
    list-style: none;
    padding: 0;
    overflow-y: auto; /* リスト部分にスクロールを適用 */
    flex-grow: 1; /* リスト部分がサイドバーの残りの高さを占めるようにする */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.admin-message-container .admin-message-sidebar ul::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.admin-message-container .admin-message-sidebar li {
    display: flex;
    justify-content: space-between; /* 左右にスペースを広げる */
    align-items: center;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-message-container .admin-message-sidebar li:hover {
    background-color: #f1f1f1;
}

.admin-message-container .admin-message-sidebar li.active {
    background-color: #e7f3ff;
}

.admin-message-container .admin-message-sidebar .badge {
    background-color: #666;
    color: white;
    font-size: 10px;
    padding: 1px 8px;
    border-radius: 12px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1.5;
    flex-shrink: 0; /* バッチのサイズを固定 */
}

.admin-message-container .new-message-badge {
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: auto; /* 右端に寄せる */
}

.admin-message-container .admin-message-chat-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.admin-message-container .admin-message-chat-header {
    background-color: #f5f5f5;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-message-container .admin-message-chat-header .profile-info {
    display: flex;
    align-items: center;
}

.admin-message-container .admin-message-chat-header .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #d3d3d3; /* default color */
}

.admin-message-container .admin-message-chat-header .artist-info {
    display: flex;
    align-items: center;
}

.admin-message-container .admin-message-chat-header .badge {
    background-color: #666;
    color: white;
    font-size: 10px;
    font-weight: normal;
    padding: 1px 8px;
    border-radius: 12px;
    margin-left: 10px; /* adjust margin as needed */
    display: inline-block;
    line-height: 1.5;
}

.admin-message-container .admin-message-chat-message-wrapper {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.admin-message-container .admin-message-chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fafafa;
    display: flex;
    flex-direction: column-reverse; /*縦方向反転*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.admin-message-container .admin-message-chat-messages::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.admin-message-container .admin-message-chat-message {
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 20px;
    max-width: 70%; /* メッセージの幅を調整 */
    display: inline-block; /* 横並びを防ぐ */
    word-wrap: break-word; /* テキストの折り返しを有効にする */
    position: relative;
}

.admin-message-container .admin-message-chat-message img {
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

.admin-message-container .admin-message-chat-message.admin-message {
    text-align: left; /* 追加: 左揃えに変更 */
    direction: ltr; /* 追加: 左から右へのテキスト方向 */
    float: right;
    background-color: #e7f3ff;
    align-self: flex-end;
}

.admin-message-container .message-read-status {
    position: absolute;
    bottom: 0px;
    left: -30px; /* メッセージ枠の左外に表示 */
    font-size: 10px;
    color: #666;
    padding: 2px 5px;
    border-radius: 3px;
}

.admin-message-container .admin-message-chat-message.artist-message {
    text-align: left;
    background-color: #e8ffe8;
    align-self: flex-start; /* メッセージを左に寄せる */
}

.admin-message-container .message-meta {
    margin-top: 2px;
    font-size: 0.7em;
    color: #666;
}

.admin-message-container .message-meta.admin-message {
    text-align: right; /* 右寄せに変更 */
}

.admin-message-container .message-meta.artist-message {
    text-align: left; /* 左寄せ */
}

.admin-message-container .image-download-link {
    font-size: 0.8em;
    color: #666;
    text-decoration: none;
    cursor: pointer; /* ポインターを表示 */
    display: inline; /* インライン表示に変更 */
}

.admin-message-container .image-download-link:hover {
    text-decoration: underline;
}

.admin-message-container .message-meta .message-time {
    margin-right: 5px;
}

.admin-message-container .admin-message-chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #f5f5f5;
}

.admin-message-container .admin-message-chat-input textarea {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none; /* サイズ変更を無効にする */
}

.admin-message-container .admin-message-chat-input button {
    padding: 10px 20px;
    margin: 10px 3px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-message-container .image-upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px 3px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-message-container .settings-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.admin-message-container .settings-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-message-container .settings-modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-message-container .close-button {
    align-self: flex-end;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.admin-message-container .modal-prev, .admin-message-container .modal-next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* ボタンの色を白に設定 */
    z-index: 1001; /* ボタンが他の要素より前面に表示されるようにする */
}

.admin-message-container .modal-prev {
    left: 10px;
}

.admin-message-container .modal-next {
    right: 10px;
}

.admin-message-container .modal-overlay .modal-image {
    max-width: 90vw; /* 画面の幅の90% */
    max-height: 90vh; /* 画面の高さの90% */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain; /* 画像のアスペクト比を保ちながら、コンテナ内に収める */
}

.admin-message-container .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.admin-message-container .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* ボタンの色を白に設定 */
    z-index: 1001; /* ボタンが他の要素より前面に表示されるようにする */
}

.admin-message-container .loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* 背景色を追加 */
    padding: 1em;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.admin-message-container .admin-message-chat-message.announce-hold-message {
    background-color: #fff9c4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.admin-message-container .admin-message-chat-message .announce-hold-txt {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #ffa07a;
    margin: 5px 10px;
    text-align: center;
}

.admin-message-container .announce-hold-message .flyer-image {
    width: 300px;
    height: auto;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.admin-message-container .announce-hold-message .event-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px;
    text-align: center;
}

.admin-message-container .announce-hold-message .event-performance-type {
    font-size: 1em;
    margin-bottom: 5px;
}

.admin-message-container .announce-hold-message .event-genre {
    display: inline-block;
    background-color: #ffa07a;
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.admin-message-container .announce-hold-message .event-date-time,
.admin-message-container .announce-hold-message .event-venue {
    font-size: 1.4em;
    margin-bottom: 3px;
    margin-top: 5px;
}
