.artist-dashboard {
    display: flex;
    background-color: #f4f4f4;
    width: 100%;        /* 全幅にする */
    min-height: calc(100vh - 63px );
    box-sizing: border-box; /* パディングとボーダーを幅に含む */
}

.artist-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff; /* 白背景 */
    box-sizing: border-box;
}

.artist-sidebar {
    min-width: 200px;
    background-color: #353535;
    color: #ffffff;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}

.artist-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 15px;
}

.artist-sidebar li {
    font-size: 14px;
}

.artist-sidebar .artist-info {
    margin-bottom: 30px;
    text-align: center;
}


.artist-sidebar .artist-info .message-text {
    font-size: 13px;
    margin: 4px;
    color: #f4f4f4;
}

.artist-sidebar .artist-info .artist-name {
    font-size: 16px;
    margin: 0;
    color: #f4f4f4;
}

.artist-sidebar .artist-main-part {
    background-color: #4CAF50;
    color: #333;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
    height: 15px;
    display: inline-block;
}

.artist-sidebar .artist-main-part .artist-part{
    color: #f4f4f4;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
}



.artist-sidebar a {
    text-decoration: none;
    width: 100%;
    display: block;
    color: inherit; /* リンクの色 */
}

.artist-sidebar a:hover {
    background-color: #444;
}



.artist-sidebar .offer-badge {
    background-color: #dc3545; /* 赤色、必要に応じて変更 */
    color: white;
    padding: 1px 8px 3px 7px;
    border-radius: 12px;
    font-size: 12px;
    margin-left: 5px;
  }